---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Udon"
	pubDate={new Date('2025-1-5')}
>
	<h2>自己紹介</h2>
	<p><b>bushdoggo</b>と申します。
	</p>
</Layout>