---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="このサイトについて"
	description="About YABUINU"
	pubDate={new Date('2025-1-5')}
>
	<h2>このサイトについて</h2>
	<p>このサイトではプログラミング・旅行・日々の生活について情報を発信します。</p>

	<h2>筆者について</h2>
	<p><b>bushdoggo</b>という名前で運営しています。名前はヤブイヌの英明から由来しています。
	現在都内で働いています。飛行機を利用した旅行が趣味で当ブログでは、旅行についても発信予定です。
	</p>
	
</Layout>