---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, GITHUB_URL, EMAIL_ADDRESS } from '../consts';
---

<!doctype html>
<html lang="ja">
	<style>
		h1{
			text-align: center;
		}
		.title{
			font-size: 2.5em;
		}
		p{
			margin-bottom: 1em;
			padding: 0;
		}
	</style>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="title">bushdoggo.com</h1>
			<p>
			こんにちは。bushdoggoです。<br>
			</p>
			<h2>掲載しているもの(予定含む)</h2>
			<ul>
				<li>自己紹介</li>
				<li>ブログ</li>
			</ul>
			<h2>リンク集</h2>
			<ul>
				<li><a href={GITHUB_URL} target="_blank">GitHub</a></li>
			</ul>
			<h2>このページの技術スタック</h2>
			<ul>
				<li><a href="https://astro.build/" target="_blank">Astro.js</a></li>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>TypeScript</li>
			</ul>
			<h2>連絡先</h2>
			<ul>
				<li>{EMAIL_ADDRESS}</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>